.menu-header {
    font-family: "roboto";
    font-weight: 600;
    font-size: 18px;
  
  .mate-logo {
    width: 7rem;
  }
  .menu-header .nav-link {
    text-decoration: none;
    color: white;
  }
  }