@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "robotomono";
  src: url("../fonts/RobotoMono-Italic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* logo del navbar */

.mate-logo {
  width: 5rem;
}

.menu-header {
  font-family: "roboto";
}

/* cierre navbar */

/* index main */
.emoji-bt svg {
  width: 30px;
  height: 50px;
}

/* main */
.main {
  font-family: "robotomono";
  background-image: url(../carpeta-img/wooden-texture.jpg);
  padding: 2rem;
}

.main-titulo {
  font-family: "roboto";
  padding-bottom: 2rem;
}
.main-menu {
  font-size: 1rem;
  display: flex;
  gap: 2rem;
}

.img-local {
  width: 500px;
}
/* cierre main */

.banner {
  padding: 50px 0;
  margin-bottom: 80px;
}

.banner h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.banner img {
  width: 800px;
}

/* footer */
.footer {
  width: 100%;
  background-color: gray;
  font-family: "robotomono";
  display: flex;
  justify-content: space-between;
}
.footer-redes svg {
  width: 30px;
  height: 30px;
}
/* cierre footer */

/* tipsmatero imagen */
.img-mate {
  width: 500px;
}
