@media (max-width: 992px) {
  .gallery {
    max-width: 950px;
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery__item--9 {
    grid-column: span 2;
  }
}
@media (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
  }
  .gallery__item--1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .gallery__item--2 {
    grid-column: span 2;
  }
  .gallery__item--5 {
    grid-column: span 2;
  }
  .gallery__item--9 {
    grid-column: span 2;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: black;
  color: rgb(9, 121, 9);
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "robotomono";
  src: url("../fonts/RobotoMono-Italic.ttf");
}
.menu-header {
  font-family: "roboto";
}
.menu-header .mate-logo {
  width: 5rem;
}
.menu-header .nav-link {
  text-decoration: none;
  color: white;
}

.hero {
  height: 100vh;
  background-image: url("../carpeta-img/traditional-yerba.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-content {
  width: 40%;
  padding: 0.3rem;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.486);
  backdrop-filter: blur 1px;
  color: black;
}
.hero .hero-content .hero-title {
  font-size: 4rem;
  color: black;
}

.tarjetas {
  padding: 4rem;
  display: flex;
  gap: 3rem;
  font-family: "robotomono";
}
.tarjetas .tarjeta {
  flex: 1;
  background-color: black;
  border-radius: 0.5rem;
  overflow: hidden;
}
.tarjetas .tarjeta .tarjeta-img {
  width: 100%;
  object-fit: cover;
}
.tarjetas .tarjeta .tarjeta-info {
  padding: 0.2rem;
  color: rgb(214, 199, 199);
}

.banner {
  font-family: "robotomono";
  padding: 50px 0;
  margin-bottom: 80px;
}
.banner .banner h3 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
}

.gallery {
  max-width: 950px;
  margin: 70px auto;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
}
.gallery .gallery__item {
  background-color: rgb(230, 158, 158);
  position: relative;
  overflow: hidden;
}
.gallery .gallery__item:hover .gallery__overlay {
  transform: translateY(0%);
}
.gallery .gallery__item .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .gallery__item .gallery__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}
.gallery .gallery__item .gallery__overlay .gallery__text {
  width: 100%;
  color: white;
  font-size: 25px;
  text-align: center;
}
.gallery .gallery__item--1 {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery .gallery__item--2 {
  grid-row: span 2;
}
.gallery .gallery__item--5 {
  grid-row: span 2;
}
.gallery .gallery__item--8 {
  grid-column: span 2;
}

.letra-footer {
  font-family: "robotomono";

}
.bi{ 
 font-size:1.7em
}

/*# sourceMappingURL=styles.css.map */
